.section-03{
  // background-image: url(../img/section03bg1.svg) , url(../img/section03bg2.svg);
  // background-repeat: no-repeat, repeat;
  // background-size: 100%,100%;
  position: relative;
  margin: 25px 0px;
}

//--------------------section-03-bg-img--------------------//

.bg-img-sec03{
  position: relative;
  // width: 100%;
  height: 150vh;
}
.bg-img-sec03 img{
  position: absolute;
  top: 0;
  left: 0;
}

.section-03__bg-img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

//--------------------section-03-txt--------------------//

.section-03-txt{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 700px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);

  @media screen and (max-width: 668px) {
    transform: translate(-50%, -34%)
  }
  @media screen and (max-width: 568px) {
    justify-content: center;
    align-items: center;
  }
}

.section-03-txt__heading{
  font-family: "Mocha Mattari";
  font-size: 48px;
  color: var(--section-03-txt__heading-color);
  margin-top: 0px;
  @media screen and (max-width: 668px) {
    font-size: 28px;
  }
}

.section-03-txt__para{
  font-family: "acumin-pro-condensed";
  font-size: 19px;
  color: var(--section-03-txt__para-color);
  margin-top: 0px;
  padding-inline: 5%;

  @media screen and (max-width: 668px) {
    font-size: 16px;
  }
}

.section-03_inner-img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 568px) {
    display: none;
  }
}

//--------------------section-03-inner-img-mbl--------------------//

.section-03_inner-img-mbl{
  @media screen and (max-width: 568px) {
    display: grid;
    grid-template-columns: 1fr; 
    width: 62%;
    height: 62%; 
  }
  @media screen and (min-width: 568px) {
    display: none;
  }
}

.mbl-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}